mocks/mock-bgs-api/src/main/resources/bgs-mock.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="DevelopmentNotesService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.mapd.benefits.vba.va.gov/" schemaLocation="bgs-mock-schema.xsd"/>
</xsd:schema>
</types>
<message name="findDevelopmentNotesByRange">
<part name="parameters" element="tns:findDevelopmentNotesByRange"/>
</message>
<message name="findDevelopmentNotesByRangeResponse">
<part name="parameters" element="tns:findDevelopmentNotesByRangeResponse"/>
</message>
<message name="InvalidParameterException">
<part name="fault" element="tns:InvalidParameterException"/>
</message>
<message name="BenefitsException">
<part name="fault" element="tns:BenefitsException"/>
</message>
<message name="updateNote">
<part name="parameters" element="tns:updateNote"/>
</message>
<message name="updateNoteResponse">
<part name="parameters" element="tns:updateNoteResponse"/>
</message>
<message name="findDevelopmentNotes">
<part name="parameters" element="tns:findDevelopmentNotes"/>
</message>
<message name="findDevelopmentNotesResponse">
<part name="parameters" element="tns:findDevelopmentNotesResponse"/>
</message>
<message name="deleteNote">
<part name="parameters" element="tns:deleteNote"/>
</message>
<message name="deleteNoteResponse">
<part name="parameters" element="tns:deleteNoteResponse"/>
</message>
<message name="createNote">
<part name="parameters" element="tns:createNote"/>
</message>
<message name="createNoteResponse">
<part name="parameters" element="tns:createNoteResponse"/>
</message>
<message name="createNotes">
<part name="parameters" element="tns:createNotes"/>
</message>
<message name="createNotesResponse">
<part name="parameters" element="tns:createNotesResponse"/>
</message>
<message name="findDevelopmentNotesByVetPtcpntId">
<part name="parameters" element="tns:findDevelopmentNotesByVetPtcpntId"/>
</message>
<message name="findDevelopmentNotesByVetPtcpntIdResponse">
<part name="parameters" element="tns:findDevelopmentNotesByVetPtcpntIdResponse"/>
</message>
<portType name="DevelopmentNotesServiceRemote">
<operation name="findDevelopmentNotesByRange">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByRangeRequest" message="tns:findDevelopmentNotesByRange"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByRangeResponse" message="tns:findDevelopmentNotesByRangeResponse"/>
<fault message="tns:InvalidParameterException" name="InvalidParameterException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByRange/Fault/InvalidParameterException"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByRange/Fault/BenefitsException"/>
</operation>
<operation name="updateNote">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/updateNoteRequest" message="tns:updateNote"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/updateNoteResponse" message="tns:updateNoteResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/updateNote/Fault/BenefitsException"/>
</operation>
<operation name="findDevelopmentNotes">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesRequest" message="tns:findDevelopmentNotes"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesResponse" message="tns:findDevelopmentNotesResponse"/>
<fault message="tns:InvalidParameterException" name="InvalidParameterException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotes/Fault/InvalidParameterException"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotes/Fault/BenefitsException"/>
</operation>
<operation name="deleteNote">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/deleteNoteRequest" message="tns:deleteNote"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/deleteNoteResponse" message="tns:deleteNoteResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/deleteNote/Fault/BenefitsException"/>
</operation>
<operation name="createNote">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNoteRequest" message="tns:createNote"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNoteResponse" message="tns:createNoteResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNote/Fault/BenefitsException"/>
</operation>
<operation name="createNotes">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNotesRequest" message="tns:createNotes"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNotesResponse" message="tns:createNotesResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/createNotes/Fault/BenefitsException"/>
</operation>
<operation name="findDevelopmentNotesByVetPtcpntId">
<input wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByVetPtcpntIdRequest" message="tns:findDevelopmentNotesByVetPtcpntId"/>
<output wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByVetPtcpntIdResponse" message="tns:findDevelopmentNotesByVetPtcpntIdResponse"/>
<fault message="tns:InvalidParameterException" name="InvalidParameterException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByVetPtcpntId/Fault/InvalidParameterException"/>
<fault message="tns:BenefitsException" name="BenefitsException" wsam:Action="http://services.mapd.benefits.vba.va.gov/DevelopmentNotesServiceRemote/findDevelopmentNotesByVetPtcpntId/Fault/BenefitsException"/>
</operation>
</portType>
<binding name="DevelopmentNotesServicePortBinding" type="tns:DevelopmentNotesServiceRemote">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDevelopmentNotesByRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidParameterException">
<soap:fault name="InvalidParameterException" use="literal"/>
</fault>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="updateNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="findDevelopmentNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidParameterException">
<soap:fault name="InvalidParameterException" use="literal"/>
</fault>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="deleteNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="createNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="createNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="findDevelopmentNotesByVetPtcpntId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidParameterException">
<soap:fault name="InvalidParameterException" use="literal"/>
</fault>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DevelopmentNotesService">
<port name="DevelopmentNotesServicePort" binding="tns:DevelopmentNotesServicePortBinding">
<soap:address location="http://bepdev.vba.va.gov:80/DevelopmentNotesService/DevelopmentNotesService"/>
</port>
</service>
</definitions>